#title {
    padding: 10px;
    color: #d7f0c0;
}
body {
    background: rgb(221, 246, 191);
    padding: 5px;
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
#header {
    padding: 30px;
    text-align: center;
    background: #140005;
    color: white;
    font-size: 40px;
  }
#footer {
     position: fixed;
     width: 100%;
     background-color: #023323;
     color: white;
     text-align: center;
     left: 0;
     bottom:0;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;
  }

h1 {
    text-align: center;
}

p {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}
#header {
    padding: 30px;
    text-align: center;
    background: #140005;
    color: white;
    font-size: 40px;
  }
  #footer {
     position: fixed;
     width: 100%;
     background-color: #BBC4C2;
     color: white;
     text-align: center;
     left: 0;
     bottom:0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }