{% extends "base.html" %}

<!-- Replacement for Title -->
{% block title %}
{{pet["name"]}}'s Details - Paws Rescue Center
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<div style="float:left; border-style:double;">
        <img src= "{{url_for('static', filename = pet["id"]|string+".jpg")}}" height="350" >
    </div> 
    <div style="float:left; margin:10px;">
        <h1 class="title">{{ pet["name"] }}</h1>
        <p><b>Age: &nbsp;</b> {{pet["age"]}}</p>
        <p><b>Bio: &nbsp;</b> {{pet["bio"]}}</p>
    </div>
    <div>
        <a href="{{url_for('homepage')}}">
            Back
        </a>
    </div>
{% endblock %}